.badge {
  position: absolute;
  top: -2px;
  right: -2px;
  padding: 2.5px 5px;
  border-radius: 50%;
  background: red;
  color: white;
}

.badge_offer {
  padding: 4px 10px;
  border-radius: 100%;
  background: white;
  color: black;
}
